*{
    padding:0;
    margin:0;
}
.box{
    width:300px;
    height:300px;
    background-color: lightgrey;
    margin:170px auto;
}
 .box h1{
    padding:50px 90px;
    color:midnightblue;
 }
 .box span{
    padding:50px 135px;
    font-size:190%;
    font-weight: bolder;
 }

 button{
    margin-top:40px;
    margin-right:27px;
    width:40px;
    height:40px;
    border-radius: 11px;
    border:2px solid orange;
    color:black;
 }
 button.one{
    margin-left:46px;
 }

 .set{
   background-color:aquamarine;
 }
 @media screen and (min-width:300px ) and (max-width:350px){
   .box{
      margin:270px auto;
   }
 }